body{
  background-color: lightskyblue;
  background-size: cover;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Lato', sans-serif;
}

.container{
  width:1000px;
  margin: 0 auto ;
}

.header{
  margin: 20px auto;
}

.main{
  background-color: white;
  width:600px;
  float: left;
  padding: 20px;
  margin-right: 10px;
}

h2{
  margin-top: 20px;
}

p{
  font-size: 11px;
}

.resolutionImage{ 
  height: 300px;
  width:600px;
}

.end{
  color: gray;
  margin-bottom: 50px;
}

.sidebar{
  background-color: white;
  width:250px;
  float:left;
  padding: 20px;
  border: 3px solid lightgray;
  border-right: 3px;
  border-top: 3px; 
}

.profile{
  border-radius: 100px;
  width:200px;
  height: 200px;
}

.subtext{
  margin: 10px auto ;
}

.vertical{
  border-left: 4px solid lightgray;
  height: 80px;
  float: left;
  margin-right: 15px;
}

.footer{
  padding-top: 15px;
}

a{
  text-decoration: none;
  color: coral;
}

.clear{
  clear: both;
}

h1,h5,blockquote{
  margin: 0px;
}
